@import "tailwindcss";
@plugin "daisyui";


figure {
    transform: scale(.9)
}


body {
    background: url(./assets/images/bg-main-mobile.png) no-repeat;
    background-size: 100% 35%;
}


@media(min-width: 1280px) {
   body {
    background: url(./assets/images/bg-main-mobile.png) no-repeat;
    background-size: 25% 100%;
}
}

